.share {
  width: 100%;
  max-width: 22rem;
  height: 12.5rem;
  padding: 0 2.5rem;
  margin-bottom: 1rem;
  background-color: var(--neutral-500);
  border-radius: 0.75rem 6rem 0.75rem 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  @media (min-width: 62rem) {
    margin: 0 2rem 0 0;
  }
  &-icons {
    display: flex;
    align-items: center;
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      background-color: var(--neutral-600);
      border-radius: 0.5rem;
      
    }
    * + * {
      margin-left: 1rem;
    }
  }
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 33.75rem;
  height: 10rem;
  padding: 2rem;
  margin-bottom: 1rem;
  background-color: var(--neutral-500);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 
  @media (min-width: 62rem) {
    margin: 0;
    
  }
    .bar {
      display: inline-block;
      position: absolute;
      z-index: 3;
      left: 2px;
      top: 50%;
      width: 5rem;
      height: 10px;
      border-radius: 5px;
      background-color: #ff0000;
      overflow: hidden;
    }
    .bar, .fill {
      display: block;
      width: 0;
      height: 100%;
      background-color: #6200ee;
    }   
 
  }
  #left{
    color: green;
  }
.bold {
  display: inline-block;
  font-weight: 700;
  width: 6.5ch;
  text-align: right;
} 
.left {
  display: inline-block;
  text-align: right;
  width: 7ch;
  font-weight: 700;
  font-size: larger;
}
.caption {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
  .space-left {
    position: absolute;
    width:max-content;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    font-size: 3rem;
    background-color: var(--neutral-100);
    color: green;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: var(--fw-700);
    @media (min-width: 62rem) {
      background-color: var(--neutral-100);
      top: 0%;
      left: 100%;
      transform: translate(calc(-100% - 2rem), calc(-50% - 1rem));
      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        transform: translateY(50%);
        right: 0;
        width: 0;
        height: 0;
        border-top: 1.25rem solid transparent;
        border-bottom: 1.25rem solid transparent;
        border-right: 1.25rem solid var(--neutral-100);
      }
    }
    
    .small {
      font-size: 1rem;
      color:var(--neutral-300);
      text-transform: uppercase;
      margin-left: 0.5rem;
    }

  }
  
  
  // .slider {
  //   position: relative;
  //   z-index: 2;
  //   -webkit-appearance: none;
  //   width: 100%;
  //   height: 10px;
  //   border-radius: 5px;
  //   outline: none;
  //   background-color: transparent;
  

    
  //   &::-webkit-slider-runnable-track {
  //     background: purple;
  //     background-image: linear-gradient(90deg, hsl(6, 100%, 80%) 0%, hsl(335, 100%, 65%) 100%);
  //     height: 1rem;
  //     border-radius: 1rem;
  //     z-index: 1;
  //     cursor:pointer;
  //   }
  //   &::-webkit-slider-thumb {
  //     -webkit-appearance: none;
  //     width: 30px;
  //     height: 30px;
  //     background-color: #6200ee;
  //     border-radius: 50%;
  //     cursor: pointer;
  //     outline: none;
  //     box-shadow: 0 0 0 0 rgba(98, 0, 238, .1);
  //     transition: .3s ease-in-out;       
  //   }
    
    
    
    
    
    
    
    /*  TO DO
    Fix the white sèace around the Firefox slider */  
input[type="range"] {
  -webkit-appearance: none;
  height: 0.625rem;
  border-radius: 1rem;
  max-width: 29.5rem;
  overflow: hidden;
  &:focus {
    outline: none;
    
  }
  &::-webkit-slider-runnable-track {
    background: var(--neutral-600);
    border-radius: 0.25rem;
    height: 0.625rem;
    cursor:pointer;
    color: red;
  }
  &::-moz-range-track{
      background: var(--neutral-600);
      border-radius: 0.25rem;
      height: 0.625rem;
      cursor:pointer;
      color: red;
    }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0.625rem;
    width: 0.625rem;
    background: white;
    border-radius: 50%;
    border: none;
    // margin-top: -7px;  
    box-shadow: 
    -1rem 0 0 0.8rem hsl(335, 100%, 65%),
    -2rem 0 0 1.5rem hsl(335, 100%, 67%),
    -3rem 0 0 2.5rem hsl(335, 100%, 69%),
    -4rem 0 0 3.5rem hsl(335, 100%, 71%),
    -5rem 0 0 4.5rem hsl(335, 100%, 73%),
    -6rem 0 0 5.5rem hsl(335, 100%, 75%),
    -7rem 0 0 6.5rem hsl(335, 100%, 77%),
    -8rem 0 0 7.5rem hsl(335, 100%, 79%),
    -9rem 0 0 8.5rem hsl(335, 100%, 81%),
    -10rem 0 0 9.5rem hsl(335, 100%, 82%),
    -11rem 0 0 10.5rem hsl(335, 100%, 83%),
    -12rem 0 0 11.5rem hsl(335, 100%,84%),
    -13rem 0 0 12.5rem hsl(335, 100%, 85%),
    -14rem 0 0 13.5rem hsl(335, 100%, 86%),
    -15rem 0 0 14.5rem hsl(335, 100%, 87%),
    -30rem 0 0 29.3rem hsl(335, 100%, 88%),
    ;
    cursor:pointer;   
  }
  &::-moz-range-thumb {
      -webkit-appearance: none;
      height: 0.625rem;
      width: 0.625rem;
      background: white;
      border-radius: 50%;
      border: none;
      margin-top: -7px;  
      box-shadow: 
      -1rem 0 0 0.8rem hsl(335, 100%, 65%),
      -2rem 0 0 1.5rem hsl(335, 100%, 67%),
      -3rem 0 0 2.5rem hsl(335, 100%, 69%),
      -4rem 0 0 3.5rem hsl(335, 100%, 71%),
      -5rem 0 0 4.5rem hsl(335, 100%, 73%),
      -6rem 0 0 5.5rem hsl(335, 100%, 75%),
      -7rem 0 0 6.5rem hsl(335, 100%, 77%),
      -8rem 0 0 7.5rem hsl(335, 100%, 79%),
      -9rem 0 0 8.5rem hsl(335, 100%, 81%),
      -10rem 0 0 9.5rem hsl(335, 100%, 82%),
      -11rem 0 0 10.5rem hsl(335, 100%, 83%),
      -12rem 0 0 11.5rem hsl(335, 100%,84%),
      -13rem 0 0 12.5rem hsl(335, 100%, 85%),
      -14rem 0 0 13.5rem hsl(335, 100%, 86%),
      -15rem 0 0 14.5rem hsl(335, 100%, 87%),
      -30rem 0 0 29.3rem hsl(335, 100%, 88%),
      ;
      cursor:pointer;        
    }  
}    
  
