/*#region +++ROOT+++ */
:root {
// - Mobile: 375px
// - Desktop: 1440px

--primary-300: hsl(321, 100%, 78%);  /* lightPink */
--primary-500: hsl(322, 100%, 66%);  /* pink */
--primary-700: hsl(0, 100%, 63%);    /* lightRed*/
--neutral-100: hsl(0, 0%, 100%);     /* white */
--neutral-200: hsl(207, 100%, 98%);  /*Very Pale Blue */
--neutral-800: hsl(192, 100%, 9%);   /* Very Dark Cyan*/
--neutral-900: hsl(0, 0%, 0%);        /* black */

--ff-base: 'Open Sans', sans-serif;
--ff-accent: 'Poppins', sans-serif;

--fs-400: 1rem;
--fs-h1: clamp(1.5rem, 0.8653rem + 2.8209vw, 2.75rem);
--fs-h2: clamp(1.25rem, 0.7549rem + 2.2003vw, 2.225rem);
--fs-stats: clamp(3rem, 2.6192rem + 1.6925vw, 3.75rem);

--fw-400: 400;
--fw-600: 600;
--fw-700: 700;



}



/*#region +++ROOT+++ */

